{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock title %}

{% block content %}

<h1>Log in</h1>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script type="text/javascript">
    var recaptchaCallback = function(response_token) {
      var form = document.getElementById("recaptcha-form");
      form.submit();
    };
</script>

<form method="POST" action="{% url 'account_login' %}" id="recaptcha-form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="action" class="btn btn-success g-recaptcha" data-sitekey="xxx" data-callback="recaptchaCallback">Log in</button>
</form>
    
<div class="text-below-form">
   <p><a href="{% url 'account_reset_password' %}">Forgot your password?</a></p>
   <p>Not a member? <a href="{% url 'account_signup' %}">Sign up</a></p>
</div>

{% endblock content %}
