{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load account %}

{% block title %}Reset password{% endblock title %}

{% block content %}

<h1>Set a new password</h1>

    {% if token_fail %}
        <p>
        The link was invalid. Please request a new <a href="{{ xxx }}">password reset</a>.
        </p>

    {% else %}
        <form method="post" action="{{ xxx }}">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Submit</button>
      </form>

    {% endif %}

{% endblock content %}
