{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>

  <title>{% block title %}{% endblock title %}</title>

  <style>{% block mycss %} {% endblock mycss %}</style>
</head>

<body>

<header>
<nav class="navbar navbar-expand-lg bg-light  navbar-light border-bottom" id="nav">

  <a class="navbar-brand" id="header-home-link" href="{% url 'apppage:homeview' %}">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'apppage:aboutview' %}">About</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'apppage:contactview' %}">Contact</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'appquiz:topicview' %}">Quizzes</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'appsearch:dataview' %}">Data</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'apppage:modelview' %}">Models</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'apppage:resultview' %}">Results</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'appsearch:searchview' %}">Search</a></li>
      <li class="nav-item"><a class="nav-link header-page-link" href="{% url 'appsearch:ltrsearchview' %}">Intelligent search</a></li>

    {% if user.is_authenticated %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown-account" data-toggle="dropdown" href="#" role="button">Account</a>

      <div class="dropdown-menu">
        <a href="{% url 'apppage:profileview' %}"     class="dropdown-item dropdown-link">Profile</a>
        <a href="{% url 'account_change_password' %}" class="dropdown-item dropdown-link">Settings</a>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="dropdown-item dropdown-link">Log Out</button>
        </form>

      </div>
    </li>

    {% else %}
       <li class="nav-item"><a href="{% url 'account_login' %}"  class="nav-link header-account-link">Log in</a></li>
       <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link header-account-link">Sign up</a></li>

    {% endif %}

  </ul>

  </div>
</nav>
</header>

<div class="container">
  {% block content %}
  {% endblock content %}
</div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
