{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}

<h1>About this project</h1>

<h5>The primary goal of this project is to develop a grammar question recommender system driven by machine learning. By providing an input sentence, we wish to search for sentences in our question bank with similar grammatical structures and rank the results.
This grammar learning website is designed to facilitate that.
The following are the features of this website.</h5>

<p><strong>Grammar learning</strong></p>
<ul>
    <li>Multiple-choice quizzes for a list of grammar topics</li>
    <li>Random order of questions and answer choices in each quiz</li>
    <li>User's quiz results displayed on submission of each quiz</li>
    <li>For wrong answers submitted, correct answers are displayed for logged in users</li>
</ul>

<p><strong>Question search</strong></p>
<ul>
    <li>Basic search (by Django) of questions from a question bank, by text string matching or by topic</li>

    <li>Search engine by Apache Solr using BM25 similarity scoring</li>
    <li>Intelligent search by Apache Solr with Learning to Rank <strong>(development in progress)</strong></li>
</ul>

<p><strong>Security</strong></p>
<ul>
    <li>Member registration (signup)</li>
    <li>User authentication (login)</li>
    <li>reCAPTCHA check for login and signup</li>
    <li>Password change and reset for members</li>
</ul>

<br>

<h5>This project would not be possible without these wonderful software and tutorials.</h5>

<p><strong>Libraries used for website</strong></p>
<ul>
    <li><a href="https://www.djangoproject.com/">Django</a> (version 2.0.x)</li>
    <li><a href="https://www.sqlite.org/index.html">SQLite</a></li>
    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
    <li><a href="https://www.intenct.nl/projects/django-allauth/">Django-allauth</a></li>
    <li><a href="https://github.com/django-crispy-forms/django-crispy-forms">Django-crispy-forms</a></li>
    <li><a href="https://www.google.com/recaptcha/about/">Google reCAPTCHA</a></li>
</ul>

<p><strong>Libraries used for intelligent search</strong></p>
<ul>
    <li><a href="https://lucene.apache.org/solr/">Apache Solr</a> (version 7.7.3)</li>
    <li><a href="http://haystacksearch.org/">Django Haystack</a></li>
    <li><a href="https://sourceforge.net/p/lemur/wiki/RankLib/">RankLib</a></li>
    <li><a href="https://www.nltk.org/">NLTK</a></li>
    <li><a href="https://stanfordnlp.github.io/CoreNLP/">Stanford CoreNLP</a></li>
    <li><a href="https://github.com/smilli/py-corenlp">py-corenlp</a></li>
</ul>

<p><strong>Tutorials and implementations</strong></p>
<ul>
    <li><a href="https://github.com/sujitpal/ltr-examples">Sujit Pal: Solr learning to rank</a></li>
    <li><a href="https://github.com/airalcorn2/Solr-LTR">Michael A. Alcorn: Solr learning to rank</a></li>
    <li><a href="https://learndjango.com/">William S. Vincent: learndjango.com</a></li>
    <li><a href="https://github.com/PacktPublishing/Django-3-by-Example">Antonio Mele: Django 3 by Example</a></li>
    <li><a href="https://github.com/psiepka/Django-quiz">pseipka: Django quiz</a></li>
</ul>

<p>Last but certainly not least, this project is developed on a machine running <a href="https://releases.ubuntu.com/20.04/">Ubuntu 20.04</a>.</p>

<p>This website is hosted on <a href="https://www.a2hosting.com/">A2 Hosting</a>.</p>

<p>All code will be accessible in <a href="https://github.com/ronkow/">GitHub</a> when this project is completed.</p>

<div style="margin-bottom:80px"></div>

{% endblock content %}
