{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Search{% endblock title %}

{% block content %}


<h1>Search</h1>

<h5>Search for questions from Solr.</h5>

<ul>


  <li><h5><strong>Solr search</strong></h5></li>


  <form method="get" action="{% url 'appsearch:searchtextview' %}" class="">
   {% csrf_token %}
  <input name="query_all" class="form-control" style="width:100%" type="text" placeholder="Enter your query text" required>
  <select name="top" style="padding-left:10px; width:200px; height:36px; color:dimgray; font-size:16px; border-color:lightgray;background-color:white; border-radius:5px; display:block; margin-top:10px">
    <option value="10">Top 10 results</option>
    <option value="20">Top 20 results</option>
    <option value="30">Top 30 results</option>
    <option value="40">Top 40 results</option>
    <option value="50">Top 50 results</option>
    <option value="1000">All results ranked</option>
  </select>
  <button type="submit" class="btn btn-success" style="display:block; margin-top:10px">Search</button>
  </form>




</ul>


<hr>

<h5>Search for questions from the database.</h5>

<ul>

<li><h5><strong>Search by topic</strong></h5></li>


<form method="get" action="{% url 'appsearch:searchtopicview' %}">
    {% csrf_token %}
    <div style="width:200px;">{{ context_topic_form|crispy }}</div>
    <button type="submit" class="btn btn-success">Search</button>
</form>

</ul>



<ul>


  <li><h5><strong>Search by question text</strong></h5></li>


  <form method="get" action="{% url 'appsearch:searchtextview' %}" class="">
  <input name="query_question" class="form-control" style="width:100%" type="text" placeholder="Enter your query text" required>
  <button type="submit" class="btn btn-success"  style="display:block; margin-top:10px">Search</button>
  </form>

<div style="margin-bottom:30px" id="answersearch"></div>


  <li><h5><strong>Search by answer choice text</strong></h5></li>


  <form method="get" action="{% url 'appsearch:searchtextview' %}" class="">
  <input name="query_choice" class="form-control" style="width:100%" type="text" placeholder="Enter your query text" required>
  <button type="submit" class="btn btn-success"  style="display:block; margin-top:10px">Search</button>
  </form>

</ul>

<div style="margin-bottom:80px"></div>

{% endblock content %}
