{% extends 'base.html' %}


{% block title %}Data{% endblock title %}

{% block mycss %}  

.container{width:100%;}

.pronoun-table-column, .preposition-table-column, .pverb-table-column { margin-right:22px; color:#006400;}  {# darkgreen #}

.pos-table td {vertical-align: middle;}
.pos {margin-right:0px; padding-bottom:90px; color:dimgray}
.pos-tag {font-family:monospace; font-size:14px; color:#006400}

.pronoun-table td { height: 54px; }
.pverb-table td { height: 40px; line-height:17px; border:0px;}
.prep-table td { height: 40px; line-height:17px; border:0px;}
.conj-table td { height: 40px; line-height:17px; border:0px;}

.pronoun-table-column, .preposition-table-column, .pverb-table-column { margin-right:22px; color:green;}

.tense-table-first-column { margin-left:4px; margin-right:4px; color:darkblue; }

.sentences {margin-bottom:30px;}
.sentences p {line-height:11px;}
.answer{color:#404040; font-weight:bold;}


h4 {margin-top:20px; margin-bottom:20px;}
h5 {margin-top:20px; margin-bottom:15px;}


.list-indent {margin-left:30px;}

.example {color:dimgray;}

.sentences {margin-bottom:30px; color:dimgray;}
.sentences p {line-height:11px;}

.formula p {line-height:2px;}
.formula {margin-left:30px; margin-bottom:20px;}

pre {color:#006400}

.answer{color:#404040; font-weight:bold;}
.block{display:block;}

.table-first-column {color:darkblue; margin-left:4px; margin-right:4px;}

table {
  margin-bottom:30px;
  border-collapse: collapse;
}

table, td, th {
  border: 0.5px solid lightgrey;
  padding: 4px;
}

th {
  text-align: center;
  vertical-align: middle;
}

.td-number {
  text-align: center;
  vertical-align: middle;
}

.bullet {font-size:24px;} 
.bullet {margin-right:30px;}

{% endblock %}

{% block content %}

<h1>Data</h1>

{# <div class="container"> #}

<h5>In this section, we describe the grammar topics we cover and how we select the sentences.</h5> 

<h4><strong>1. Raw data</strong></h4>

<p>Our raw data are 1002 carefully curated questions and up to four answer choices per question. 
Excluding the wrong answer choices, we shall call a question and correct answer instance a <strong>sentence</strong>.
From these raw sentences, we <a href="https://ronkow.com/model/#feature">extract features</a> and <a href="https://ronkow.com/model/#dataset">create datasets for the learning algorithm.</a></p>

<p>As of now, we have enough questions to cover only five types of words and phrases. Each question is classified (and labelled) into one of these five topics:</p>

<ul class="list-indent">
    <li><a href="{% url 'appsearch:datalistview' 1 %}" >Prepositions</a></li>
    <li><a href="{% url 'appsearch:datalistview' 2 %}" >Conjunctions</a></li>
    <li><a href="{% url 'appsearch:datalistview' 3 %}" >Phrasal verbs</a></li>
    <li><a href="{% url 'appsearch:datalistview' 4 %}" >Verb tenses</a></li>
    <li><a href="{% url 'appsearch:datalistview' 5 %}" >Pronouns</a></li>
</ul>

<div id="taxonomy"></div>

<p>Other than pronouns, the first four topics are somewhat related, in the sense that there are common individual words among the four sets of words. 
Some words (e.g. after, since) can be used as both prepositions and conjunctions. Phrasal verbs and verb tenses (e.g. "call for" and "is calling") contain common verbs. Phrasal verbs are formed by joining a verb and a preposition.    
</p>

<p>
The scope of English grammar is extensive. We cover only a small subset of the words or phrases in each topic. 
For instance, <a href="https://dictionary.cambridge.org/grammar/british-grammar/pronouns_2">pronouns</a> could be classified into eight types and we cover only personal pronouns, and not all personal pronouns.
There are more than a hundred commonly used <a href="https://en.wikipedia.org/wiki/List_of_English_prepositions">prepositions</a> and many more less common ones.
We cover a small number of commonly used prepositions.
</p>

<p>It must also be noted that grammar topic classification is no trivial task, because of the many sub-classes in each topic and also the ambiguities of the English language.   
Some nouns can be used as adjectives (e.g. <strong>school</strong> uniform). Some adjectives can be used as nouns (e.g. the <strong>blind</strong> uses Braille). Some words are used equally often as a noun or a verb (e.g. increase).
The four basic word classes (nouns, verbs, adjectives, adverbs) have many sub-classes (such as uncountable nouns and phrasal verbs). 
And other major classes such as pronouns and <a href="https://dictionary.cambridge.org/grammar/british-grammar/determiners-the-my-some-this">determiners</a> (e.g. a, the) have their own sub-classes as well.
<a href="https://coggle.it/diagram/WllF6stHwgABl6qQ/t/taxonomy-of-english-grammar">This is an interesting attempt</a> to visualise the taxonomy of English grammar.
</p>

<hr>

<h4><strong>2. Selection of sentences</strong></h4>

<p>To enable our models to learn syntax, we have selected sentences that are similar in syntax and semantics but different in words. For example, for the preposition "by":</p>

<ul class="list-indent">
    <li><span class="example">I go to school <span class="answer">by</span> bus.</li>
    <li><span class="example">He travels to work <span class="answer">by</span> train.</li>
</ul>

<p>Many sentences in our data are similar or repeated. The difference is just in the answer. For example:</p>

<ul class="list-indent">
    <li><span class="example">I <span class="answer">am doing</span> my work now.</span> (verb tenses)</li>
    <li><span class="example">I am doing <span class="answer">my</span> work now.</span> (pronouns)</li>
</ul>

<div id="topic"></div>

<hr>

<h4><strong>3. Data statistics</strong></h4>

<p>From the 1002 sentences, 152 are selected as queries and the remaining 850 as documents when we create the datasets to train and test our models.
Every term (word or phrase) in each topic has at least one sentence in the query set. 
The distribution of number of terms and sentences are shown below:
</p>

<div class="pos-table">
<table>
    <tr>
        <th rowspan="2"><strong>Topic</strong></th>
        <th rowspan="2" style="width:105px;"><strong>Number of terms</strong></td>
        <th rowspan="2" style="width:105px;"><strong>Number of sentences</strong></td>
        <th colspan="2"><strong>Sentences per term</strong></td>
    </tr>
    <tr>
        <th style="width:105px;"><strong>Query</strong></th>
        <th style="width:105px;"><strong>Document</strong></th>
    </tr>
    <tr>
        <td><span class="table-first-column">Prepositions</span></td>
        <td class="td-number">30</td>
        <td class="td-number">242</td>
        <td class="td-number">1 or 2</td>
        <td class="td-number">5 or 10</td>
    </tr>
    <tr>
        <td><span class="table-first-column">Conjunctions</span></td>
        <td class="td-number">16</td>
        <td class="td-number">120</td>
        <td class="td-number">1 or 2</td>
        <td class="td-number">5 or 10</td>

    </tr>
    <tr>
        <td><span class="table-first-column">Phrasal verbs</span></td>
        <td class="td-number">42</td>
        <td class="td-number">252</td>
        <td class="td-number">1</td>
        <td class="td-number">5</td>

    </tr>
    <tr>
        <td><span class="table-first-column">Verb tenses</span></td>
        <td class="td-number">10 tenses</td>
        <td class="td-number">220</td>
        <td class="td-number">2 per tense</td>
        <td class="td-number">20 per tense</td>

    </tr>
    <tr>
        <td><span class="table-first-column">Pronouns</span></td>
        <td class="td-number">28</td>
        <td class="td-number">168</td>
        <td class="td-number">1</td>
        <td class="td-number">5</td>

    </tr>

</table>
</div>

<hr>

<h4><strong>4. Topics</strong></h4>
<h5><strong>Prepositions</strong></h5>
<p><a href="https://dictionary.cambridge.org/grammar/british-grammar/prepositions">Prepositions</a> show relationships between people, places or things. Prepositions often show relationships in space or time.
There are hundreds of prepositions. We have selected a set of commonly used single-word and multi-word prepositions. For each preposition, there are at least five sentences.</p>

<div class="prep-table">
<table>
    <tr>
        <th colspan="5"><strong>Single-word terms</strong></th>
    </tr>
    <tr>
        <td><span class="preposition-table-column">about</span></td>
        <td><span class="preposition-table-column">across</span></td>
        <td><span class="preposition-table-column">after</span></td>
        <td><span class="preposition-table-column">against</span></td>
        <td><span class="preposition-table-column">among</span></td>
        
    </tr>
    <tr>
        <td><span class="preposition-table-column">at</span></td>
        <td><span class="preposition-table-column">before</span></td>
        <td><span class="preposition-table-column">behind</span></td>
        <td><span class="preposition-table-column">beyond</span></td>
        <td><span class="preposition-table-column">by</span></td>
    </tr>
    <tr>
        
        
        <td><span class="preposition-table-column">during</span></td>
        <td><span class="preposition-table-column">for</span></td>
        <td><span class="preposition-table-column">from</span></td>
        <td><span class="preposition-table-column">in</span></td>
        <td><span class="preposition-table-column">into</span></td>

    </tr>
    <tr>
        <td><span class="preposition-table-column">of</span></td>
        <td><span class="preposition-table-column">off</span></td>
        <td><span class="preposition-table-column">on</span></td>
        <td><span class="preposition-table-column">onto</span></td>
        <td><span class="preposition-table-column">over</span></td>
    </tr>
    <tr>

        <td><span class="preposition-table-column">through</span></td>
        <td><span class="preposition-table-column">throughout</span></td>
        <td><span class="preposition-table-column">to</span></td>
        <td><span class="preposition-table-column">under</span></td>
        <td><span class="preposition-table-column"></span></td>

    </tr>
    <tr>
        <td><span class="preposition-table-column">with</span></td>
        <td><span class="preposition-table-column">within</span></td>
        <td><span class="preposition-table-column">without</span></td>
        <td><span class="preposition-table-column"></span></td>
        <td><span class="preposition-table-column"></span></td>
    </tr>
</table>

<table>
    <tr>
        <th colspan="3"><strong>Multi-word terms</strong></th>
    </tr>
    <tr>
        <td><span class="preposition-table-column">according to</span></td>
        <td><span class="preposition-table-column">on behalf of</span></td>
        <td><span class="preposition-table-column">up to</span></td>
    </tr>
</table>

</div>

<hr>

<h5><strong>Conjunctions</strong></h5>
<p><a href="https://dictionary.cambridge.org/grammar/british-grammar/conjunctions?q=Conjunctions">Conjunctions</a> (e.g. and, or, but) connect words, phrases and clauses (groups of words containing a verb and a subject) in a sentence. 
The distinction between a conjunction and a preposition is subtle, and some words can be used as a conjunction and as a preposition. Consider the word <strong>after</strong>:

<ul class="list-indent">
    <li><span class="example">She became more independent <span class="answer">after</span> her mum passed away.</span> (conjunction)</li>
    <li><span class="example">Her mum passed away <span class="answer">after</span> Christmas last year.</span> (preposition)</li>
</ul>


For each selected conjunction, there are at least five sentences.</p>

<div class="conj-table">
<table>
    <tr>
        <th colspan="4"><strong>Terms</strong></th>
    </tr>

    <tr>
        <td><span class="preposition-table-column">after</span></td>
        <td><span class="preposition-table-column">because</span></td>
        <td><span class="preposition-table-column">before</span></td>
        <td><span class="preposition-table-column">but</span></td>
        
    </tr>
    <tr>
        <td><span class="preposition-table-column">if</span></td>
        <td><span class="preposition-table-column">once</span></td>
        <td><span class="preposition-table-column">or</span></td>
        <td><span class="preposition-table-column">yet</span></td>
        
    </tr>
    <tr>
        <td><span class="preposition-table-column">since</span></td>
        <td><span class="preposition-table-column">so</span></td>
        <td><span class="preposition-table-column">unless</span></td>
        <td><span class="preposition-table-column">until</span></td>
        
    </tr>
    <tr>
        <td><span class="preposition-table-column">when</span></td>
        <td><span class="preposition-table-column">whenever</span></td>
        <td><span class="preposition-table-column">whether</span></td>
        <td><span class="preposition-table-column">while</span></td>
        
    </tr>

</table>
</div>



<hr>

<h5><strong>Phrasal verbs</strong></h5>
<p><a href="https://dictionary.cambridge.org/grammar/british-grammar/phrasal-verbs-and-multi-word-verbs?q=Phrasal+verbs">Phrasal verbs</a> are phrases in which the first word is a verb.
The verb is usually followed by one or more prepositions.
There are hundreds of commonly used phrasal verbs. Our selection focuses on verbs with multiple phrasal verbs. For each phrasal verb, there are at least four sentences.</p>

<div class="pverb-table">
<table>
    
    <tr>
        <th colspan="6"><strong>Terms</strong></th>
    </tr>
    <tr>
        <td><span class="pverb-table-column">break down</span></td>
        <td><span class="pverb-table-column">break into</span></td>
        <td><span class="pverb-table-column">break out</span></td>
        <td><span class="pverb-table-column">break up</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">come about</span></td>
        <td><span class="pverb-table-column">come along</span></td>
        <td><span class="pverb-table-column">come across</span></td>
        <td><span class="pverb-table-column">come down to</span></td>
        <td><span class="pverb-table-column">come off</span></td>
        <td><span class="pverb-table-column">come up</span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">call for</span></td>
        <td><span class="pverb-table-column">call off</span></td>
        <td><span class="pverb-table-column">call on</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    
    <tr>
        <td><span class="pverb-table-column">go back on</span></td>
        <td><span class="pverb-table-column">go off</span></td>
        <td><span class="pverb-table-column">go on</span></td>
        <td><span class="pverb-table-column">go through</span></td>
        <td><span class="pverb-table-column">go with</span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">get along</span></td>
        <td><span class="pverb-table-column">get by</span></td>
        <td><span class="pverb-table-column">get over</span></td>
        <td><span class="pverb-table-column">get through</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    
    <tr>
        <td><span class="pverb-table-column">give in</span></td>
        <td><span class="pverb-table-column">give up</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">look after</span></td>
        <td><span class="pverb-table-column">look back</span></td>
        <td><span class="pverb-table-column">look down</span></td>
        <td><span class="pverb-table-column">look forward</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">look into</span></td>
        <td><span class="pverb-table-column">look up</span></td>
        <td><span class="pverb-table-column">look over</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">let down</span></td>
        <td><span class="pverb-table-column">let off</span></td>
        <td><span class="pverb-table-column">let up</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">put across</span></td>
        <td><span class="pverb-table-column">put forward</span></td>
        <td><span class="pverb-table-column">put off</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    <tr>
        <td><span class="pverb-table-column">turn down</span></td>
        <td><span class="pverb-table-column">turn in</span></td>
        <td><span class="pverb-table-column">turn out</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>

    <tr>
        <td><span class="pverb-table-column">take after</span></td>
        <td><span class="pverb-table-column">take off</span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
        <td><span class="pverb-table-column"></span></td>
    </tr>
    
    
 
</table>
</div>

{# <td><span class="pverb-table-column">bring back</span></td><td><span class="pverb-table-column">bring off</span></td><td><span class="pverb-table-column">bring on</span></td><td><span class="pverb-table-column">bring up</span></td>#}
{#<td><span class="pverb-table-column">fall back on</span></td><td><span class="pverb-table-column">fall for</span></td><td><span class="pverb-table-column">fall out with</span></td><td><span class="pverb-table-column">fall through</span></td>#}
        

<hr>

<h5><strong>Verb tenses</strong></h5>
<p>Of the 12 major <a href="https://dictionary.cambridge.org/grammar/british-grammar/tenses-and-time?q=tenses">verb tenses</a>, we cover all eight present and past tenses but only two of the future tenses.
For each verb tense, there are at least twenty sentences.</p>

<table>
    <tr>
        <th><strong>Tense</strong></th>
        <th><strong>Example</strong></th>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Simple present</span></td>
        <td><span class="example">She <strong>plays</strong> the piano every morning.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Present continuous</td>
        <td><span class="example">She <strong>is playing</strong> the piano now.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Present perfect</span></td>
        <td><span class="example">She <strong>has played</strong> this piece many times.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Present perfect continuous</span></td>
        <td><span class="example">She <strong>has been playing</strong> the piano since morning.</span></td>
    </tr>

    <tr>
        <td><span class="tense-table-first-column">Simple past</span></td>
        <td><span class="example">He <strong>played</strong> basketball yesterday.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Past continuous</td>
        <td><span class="example">He <strong>was playing</strong> basketball when it started to rain.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Past perfect</span></td>
        <td><span class="example">He <strong>had played</strong> for his country only once before.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Past perfect continuous</span></td>
        <td><span class="example">He <strong>had been playing</strong> basketball for an hour before it started to rain.</span></td>
    </tr>

    <tr>
        <td><span class="tense-table-first-column">Simple future</span></td>
        <td><span class="example">He <strong>will play</strong> in the first team.</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Future continuous</td>
        <td><span class="example">He <strong>will be playing</strong> in the next game.</span></td>
    </tr>

</table>

<hr>

<h5><strong>Pronouns</strong></h5>

<p>A <a href="https://dictionary.cambridge.org/grammar/british-grammar/pronouns_1">pronoun</a> is a word that refers to a particular noun. Pronouns can be classified into personal (e.g. you, she), possessive (e.g. your, hers), reflexive (e.g. yourself, herself), indefinite (e.g. someone, anyone, nothing, everywhere), relative (e.g. ...which..., ...whom...) and interrogative (e.g. Which...?, Whom...?).
We cover only a subset of all pronouns. For each pronoun, there are at least five sentences. The plural form of "yourself" ("yourselves") is not covered.</p>

<div class="pronoun-table">
<table>
    <tr>
        <th><strong>Pronoun class</strong></th>
        <th colspan="6"><strong>Terms</strong></th>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Personal (subject)</span></td>
        <td><span class="pronoun-table-column">I</span></td>
        <td><span class="pronoun-table-column">you</span></td>
        <td><span class="pronoun-table-column">he</span></td>
        <td><span class="pronoun-table-column">she</span></td>
        <td><span class="pronoun-table-column">we</span></td>
        <td><span class="pronoun-table-column">they</span></td>

    </tr>
    <tr>
        <td><span class="tense-table-first-column">Personal (object)</span></td>
        <td><span class="pronoun-table-column">me</span></td>
        <td><span class="pronoun-table-column">you</span></td>
        <td><span class="pronoun-table-column">him</span></td>
        <td><span class="pronoun-table-column">her</span></td>
        <td><span class="pronoun-table-column">us</span></td>
        <td><span class="pronoun-table-column">them</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Possessive</span></td>
        <td><span class="pronoun-table-column">my<br>mine</span></td>
        <td><span class="pronoun-table-column">your<br>yours</span></td>
        <td><span class="pronoun-table-column">his</span></td>
        <td><span class="pronoun-table-column">her<br>hers</span></td>
        <td><span class="pronoun-table-column">our<br>ours</span></td>
        <td><span class="pronoun-table-column">their<br>theirs</span></td>
    </tr>
    <tr>
        <td><span class="tense-table-first-column">Reflexive</span></td>
        <td><span class="pronoun-table-column">myself</span></td>
        <td><span class="pronoun-table-column">youself</span></td>
        <td><span class="pronoun-table-column">himself</span></td>
        <td><span class="pronoun-table-column">herself</span></td>
        <td><span class="pronoun-table-column">ourselves</span></td>
        <td><span class="pronoun-table-column">themselves</span></td>

    </tr>
</table>
</div>

{# &bull; #}

{#</div>  container #}
<div style="margin-bottom:80px"></div>

{% endblock content %}
