{% extends 'base.html' %}

{% block title %}Data{% endblock title %}

{% block mycss %}
   pre {color:#006400}
{% endblock %}

{% block content %}

<h1></h1>

<pre>
## LambdaMART
## No. of trees = 1000
## No. of leaves = 10
## No. of threshold candidates = 256
## Learning rate = 0.1
## Stop early = 100

<ensemble>
	<tree id="1" weight="0.1">
		<split>
			<feature> 1 </feature>
			<threshold> 15.658298 </threshold>
			<split pos="left">
				<feature> 4 </feature>
				<threshold> 1.0924287 </threshold>
				<split pos="left">
					<output> -1.9752774238586426 </output>
				</split>
				<split pos="right">
					<feature> 1 </feature>
					<threshold> 9.691119 </threshold>
					<split pos="left">
						<feature> 5 </feature>
						<threshold> 1.0046068 </threshold>
						<split pos="left">
							<output> -2.0 </output>
						</split>
						<split pos="right">
							<output> 1.7726384401321411 </output>
						</split>
					</split>
					<split pos="right">
						<feature> 5 </feature>
						<threshold> 1.0046068 </threshold>
						<split pos="left">
							<output> -2.0 </output>
						</split>
						<split pos="right">
							<feature> 1 </feature>
							<threshold> 12.289729 </threshold>
							<split pos="left">
								<output> 1.9876720905303955 </output>
							</split>
							<split pos="right">
								<output> 2.0 </output>
							</split>
						</split>
					</split>
				</split>
			</split>
			<split pos="right">
				<feature> 4 </feature>
				<threshold> 0.0 </threshold>
				<split pos="left">
					<output> -2.0 </output>
				</split>
				<split pos="right">
					<feature> 1 </feature>
					<threshold> 20.470537 </threshold>
					<split pos="left">
						<output> 1.9742082357406616 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 20.951761 </threshold>
						<split pos="left">
							<output> 2.0 </output>
						</split>
						<split pos="right">
							<output> 2.0 </output>
						</split>
					</split>
				</split>
			</split>
		</split>
	</tree>
	<tree id="2" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.679215669631958 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 9.691119 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.6796189546585083 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 7.2850027 </threshold>
						<split pos="left">
							<feature> 2 </feature>
							<threshold> 1.0210549 </threshold>
							<split pos="left">
								<output> -1.990628957748413 </output>
							</split>
							<split pos="right">
								<feature> 2 </feature>
								<threshold> 1.2623255 </threshold>
								<split pos="left">
									<output> 1.6888172626495361 </output>
								</split>
								<split pos="right">
									<output> 1.6798169612884521 </output>
								</split>
							</split>
						</split>
						<split pos="right">
							<output> 1.658758282661438 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<feature> 1 </feature>
					<threshold> 20.470537 </threshold>
					<split pos="left">
						<feature> 5 </feature>
						<threshold> 1.0046068 </threshold>
						<split pos="left">
							<output> -1.6923418045043945 </output>
						</split>
						<split pos="right">
							<feature> 1 </feature>
							<threshold> 12.289729 </threshold>
							<split pos="left">
								<output> 1.672282338142395 </output>
							</split>
							<split pos="right">
								<output> 1.6809933185577393 </output>
							</split>
						</split>
					</split>
					<split pos="right">
						<output> 1.6799150705337524 </output>
					</split>
				</split>
			</split>
		</split>
	</tree>
	<tree id="3" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.4858020544052124 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 9.691119 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.485795021057129 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 7.2850027 </threshold>
						<split pos="left">
							<feature> 2 </feature>
							<threshold> 1.0210549 </threshold>
							<split pos="left">
								<output> -1.6858692169189453 </output>
							</split>
							<split pos="right">
								<feature> 2 </feature>
								<threshold> 1.2623255 </threshold>
								<split pos="left">
									<feature> 3 </feature>
									<threshold> 2.7343092 </threshold>
									<split pos="left">
										<feature> 5 </feature>
										<threshold> 3.2649717 </threshold>
										<split pos="left">
											<output> 1.4945969581604004 </output>
										</split>
										<split pos="right">
											<output> 1.4948396682739258 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.5049327611923218 </output>
									</split>
								</split>
								<split pos="right">
									<output> 1.4883064031600952 </output>
								</split>
							</split>
						</split>
						<split pos="right">
							<output> 0.726302444934845 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<feature> 1 </feature>
					<threshold> 12.289729 </threshold>
					<split pos="left">
						<output> 1.4305273294448853 </output>
					</split>
					<split pos="right">
						<output> 1.4804608821868896 </output>
					</split>
				</split>
			</split>
		</split>
	</tree>
	<tree id="4" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.3616050481796265 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 10.653567 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.3643772602081299 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.499910831451416 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<output> 1.3668622970581055 </output>
										</split>
										<split pos="right">
											<output> 1.3757842779159546 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.3604648113250732 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.6291210651397705 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.3477039337158203 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<feature> 1 </feature>
					<threshold> 12.289729 </threshold>
					<split pos="left">
						<output> 1.33130943775177 </output>
					</split>
					<split pos="right">
						<output> 1.3575249910354614 </output>
					</split>
				</split>
			</split>
		</split>
	</tree>
	<tree id="5" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.2757773399353027 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 1 </feature>
					<threshold> 9.691119 </threshold>
					<split pos="left">
						<feature> 5 </feature>
						<threshold> 1.0046068 </threshold>
						<split pos="left">
							<output> -1.2753463983535767 </output>
						</split>
						<split pos="right">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.3756603002548218 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.2789194583892822 </output>
											</split>
											<split pos="right">
												<output> 1.279449701309204 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.2876561880111694 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.2719312906265259 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.5547922253608704 </output>
							</split>
						</split>
					</split>
					<split pos="right">
						<output> 1.2211774587631226 </output>
					</split>
				</split>
				<split pos="right">
					<output> 1.2718063592910767 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="6" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.2141748666763306 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 1 </feature>
					<threshold> 9.691119 </threshold>
					<split pos="left">
						<feature> 5 </feature>
						<threshold> 1.0046068 </threshold>
						<split pos="left">
							<output> -1.2136911153793335 </output>
						</split>
						<split pos="right">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.2885125875473022 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.2160178422927856 </output>
											</split>
											<split pos="right">
												<output> 1.2164098024368286 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.2250442504882812 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.2078800201416016 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.4883541166782379 </output>
							</split>
						</split>
					</split>
					<split pos="right">
						<output> 1.1532275676727295 </output>
					</split>
				</split>
				<split pos="right">
					<output> 1.2104521989822388 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="7" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.168466567993164 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.1812634468078613 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.2249138355255127 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.1694040298461914 </output>
											</split>
											<split pos="right">
												<output> 1.1696991920471191 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.1775424480438232 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.1597890853881836 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.4318731427192688 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.1593749523162842 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<output> 1.1648938655853271 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="8" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.133574366569519 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.1441882848739624 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.1771352291107178 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.134056568145752 </output>
											</split>
											<split pos="right">
												<output> 1.1342791318893433 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.1426360607147217 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.1220227479934692 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.3456633388996124 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.121902585029602 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<output> 1.1300208568572998 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="9" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.106741189956665 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.1155537366867065 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.1406883001327515 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.106837272644043 </output>
											</split>
											<split pos="right">
												<output> 1.1070078611373901 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.116292119026184 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.0918903350830078 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.30743828415870667 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.092004418373108 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<output> 1.1022988557815552 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="10" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.0858083963394165 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.093126893043518 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.1124742031097412 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<feature> 5 </feature>
											<threshold> 3.2649717 </threshold>
											<split pos="left">
												<output> 1.0856093168258667 </output>
											</split>
											<split pos="right">
												<output> 1.0857415199279785 </output>
											</split>
										</split>
										<split pos="right">
											<output> 1.096371054649353 </output>
										</split>
									</split>
									<split pos="right">
										<output> 1.0671333074569702 </output>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.27559342980384827 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.067421317100525 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<output> 1.0802631378173828 </output>
				</split>
			</split>
		</split>
	</tree>
	<tree id="11" weight="0.1">
		<split>
			<feature> 4 </feature>
			<threshold> 1.0924287 </threshold>
			<split pos="left">
				<output> -1.0693202018737793 </output>
			</split>
			<split pos="right">
				<feature> 1 </feature>
				<threshold> 12.289729 </threshold>
				<split pos="left">
					<feature> 5 </feature>
					<threshold> 1.0046068 </threshold>
					<split pos="left">
						<output> -1.0753979682922363 </output>
					</split>
					<split pos="right">
						<feature> 1 </feature>
						<threshold> 9.691119 </threshold>
						<split pos="left">
							<feature> 1 </feature>
							<threshold> 7.2850027 </threshold>
							<split pos="left">
								<feature> 2 </feature>
								<threshold> 1.0210549 </threshold>
								<split pos="left">
									<output> -1.090383768081665 </output>
								</split>
								<split pos="right">
									<feature> 2 </feature>
									<threshold> 1.2623255 </threshold>
									<split pos="left">
										<feature> 3 </feature>
										<threshold> 2.7343092 </threshold>
										<split pos="left">
											<output> 1.0689427852630615 </output>
										</split>
										<split pos="right">
											<output> 1.081417202949524 </output>
										</split>
									</split>
									<split pos="right">
										<feature> 3 </feature>
										<threshold> 1.0516577 </threshold>
										<split pos="left">
											<output> -2.10927152633667 </output>
										</split>
										<split pos="right">
											<output> 1.078871250152588 </output>
										</split>
									</split>
								</split>
							</split>
							<split pos="right">
								<output> 0.2495199292898178 </output>
							</split>
						</split>
						<split pos="right">
							<output> 1.0465469360351562 </output>
						</split>
					</split>
				</split>
				<split pos="right">
					<output> 1.0624077320098877 </output>
				</split>
			</split>
		</split>
	</tree>
</ensemble>
</pre>

<div style="margin-bottom:80px"></div>

{% endblock content %}
